@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
/* Обнуление */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    transition:all 0.3s;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
    transition:all 0.3s;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    background-color: #2B2C3A;
    color: #fff;
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    transition:all 0.3s;
    overflow-x: hidden;
}
.wrapper {
    min-height: 100%;
}
/*-----------------------*/

.leftbar{
    z-index: 11;
    position: fixed;
    height: 100%;
    width: 280px;
    background: #343646;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    overflow-y: scroll;
    .logo {
        position: fixed;
        background: #343646;
        z-index: 15;
        padding: {
            left: 30px;
            top: 20px;
            right: 30px;
            bottom: 7px;
        }
        width: 280px;
        height: 70px;
        border-bottom: 1px solid rgba(216, 216, 216, 0.1);
    }
    .leftbarMenu {
        padding: 100px 30px 4px 30px;
        p, .programms, .lectures {
            opacity: 0.5;
            &:hover {
                opacity: 1;
            }
        }
    }
    ul, a, p, .programms, .lectures {
        cursor: pointer;
    }
    #programms, 
    #lectures {
        display: flex;
        justify-content: space-between;
    }
    .menuClose{
        display: none !important;
        list-style: none;
    }
    p, .programms, .lectures {
        margin-bottom: 16px;
    }
    .menuToggle {
        background: none;
        cursor: pointer;
    }
    ul {
        display: flex;
        flex-direction: column;
        margin-left: -30px;
        margin-right: -30px;
        margin-bottom: 16px;
        width: 280px;
        li {
            display: flex;
            align-items: center;
            height: 40px;
            opacity: 0.5;
            &:hover {
                background: rgba(255, 255, 255, 0.03);
                opacity: 1;
                .selectLine {
                    opacity: 1;
                }
                svg path {
                    opacity: 1;
                    fill: #6F6EFF;
                }
            }
            span {
                margin-left: 24px;
            }
            .selectLine {
                width: 3px;
                height: 100%;
                background: #000;
                margin-right: 47px;
                background: #6F6EFF;
                box-shadow: 0px 0px 12px rgba(111, 110, 255, 0.5);  
                opacity: 0;
            }
        }
    }
    
    .mailing {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: auto;
        line-height: 10px;  
        padding: {
            left: 30px;
            right: 30px;
            bottom: 30px;
        }
        span {
            opacity: 0.5;
            font-size: 14px;
        }
        .mailingSwitch {
            cursor: pointer;
        }
    }
    .switch {
        position: relative;
        display: inline-block;
        width: 42px;
        height: 22px;
        input { 
            opacity: 0;
            width: 0;
            height: 0;
        }
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 1px solid rgba(255, 255, 255, 0.2);
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 16px;
            &:before {
                position: absolute;
                content: "";
                height: 16px;
                width: 16px;
                left: 3px;
                bottom: 2px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
                border-radius: 50%;
            }
        }
        input:checked + .slider {
            opacity: 1;
        }
        input:checked + .slider:before {
            -webkit-transform: translateX(19px);
            -ms-transform: translateX(19px);
            transform: translateX(19px);
            opacity: 1;
            background: #6F6EFF;
            box-shadow: 0px 0px 12px rgba(111, 110, 255, 0.5);
        }
    }
    
    

}

.hLine {
    width: 100%;
    height: 1px;
    background: #D8D8D8;
    opacity: 0.1;
}

.topbar {
    z-index: 10;
    background-color: #2B2C3A;
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    padding: {
        left: 30px;
        right: 30px;
    }
    justify-content: space-between;
    border-bottom: 1px solid rgba(216, 216, 216, 0.1);
    .logoMobile {
        display: none;
    }
    .information {
        display: flex;
        margin-left: 280px;
        font-size: 14px;
        line-height: 10px;
        align-items: center;
        p {
            margin-right: 28px;
            opacity: 0.6;
            cursor: pointer;
            &:hover {
                opacity: 1;
            }
        }
        .vLine {
            width: 1px;
            height: 24px;
            background: #D8D8D8;
            opacity: 0.1;
        }
    }
    .personal {
        display: flex;
        .achieves {
            display: flex;
            font-size: 13px;
            line-height: 10px;  
            align-items: center;
            margin-right: 4px;
            .energy {
                padding-left: 3px;
                font-size: 11px;
                color: rgba(255, 255, 255, 0.6);
                span {
                    padding-left: 10px;
                    font-weight: 600;
                    font-size: 13px;
                    color: #fff;
                }
            }
            p {
                display: flex;
                align-items: center;
                justify-content: space-between;
                background: rgba(255, 255, 255, 0.06);
                border-radius: 5px;
                height: 24px;
                margin-right: 10px;
                padding: {
                    left: 9px;
                    right: 9px;
                    top: 7px;
                    bottom: 7px;
                };
            }
        }
        .avatar {
            width: 44px;
            height: 44px;
        }
        .account {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding-left: 13px;
            font-weight: normal;
            font-size: 14px;
            line-height: 10px;
            .online {
                font-weight: 600;
                font-size: 13px;
                color: #24CB8D;
                padding-left: 4px;
            }
        }
        .status {
            font-style: normal;
            font-weight: normal;
            font-size: 11px;
            line-height: 10px;
            padding: {
                left: 8px;
                right: 8px;
                top: 2px;
                bottom: 2px;
            };
            border-radius: 4px;
            height: 14px;
            margin-top: 8px;
            margin-left: 15px;
        }
        .pro {
            background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
            box-shadow: 0px 0px 12px rgba(111, 110, 255, 0.5);
        }
    }
}

.content {
    //height: 2000px;
    padding: {
        top: 110px;
        left: 335px;
        right: 55px;
    };
    .course {
        padding-bottom: 60px;
        .courseText {
            display: flex;
            justify-content: space-between;
            margin-bottom: 25px;
            .courseInfo {
                display: flex;
                flex-direction: column;
                text-transform: uppercase;
                .level {
                    font-size: 11px;
                    line-height: 16px;
                    margin-bottom: 7px;
                    opacity: 0.4;
                }
                .title {
                    font-size: 22px;
                    line-height: 18px;
                }
            }
            .lessons {
                display: flex;
                align-items: center;
                font-size: 12px;
                line-height: 17px;
                //height: 30px;
                cursor: pointer;
                #showAll1 {
                    cursor: pointer;
                    opacity: 0;
                    width: 0;
                    height: 0;
                    &:checked #courseList1 {
                        flex-wrap: wrap;
                    }
                }
                .lessonsAll {
                    background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
                    border-radius: 4px;
                    padding: {
                        left: 12px;
                        right: 12px;
                        top: 6px;
                        bottom: 6px;
                    };
                    margin-right: 5px;
                    cursor: pointer;
                    &:hover {
                        color: #6F6EFF;
                        background: #fff;
                    }
                }
                .prev,
                .next {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    mix-blend-mode: normal;
                    border: 1px solid rgba(255, 255, 255, 0.15);
                    box-sizing: border-box;
                    border-radius: 4px;
                    height: 30px;
                    width: 30px;
                    margin-left: 5px;
                    &:hover {
                        background: #6F6EFF;
                    }
                }
            }
        }
        .courseList {
            display: flex;
            //overflow: hidden;
            -webkit-overflow-scrolling: touch;
            margin-left: -4px;
            .lesson {
                background: rgba(255, 255, 255, 0.04);
                width: 255px;
                height: 294px;
                border-radius: 6px;
                margin: 4px;
                &:first-child {
                    margin-left: 0;
                }
                .lessonWrapper{
                    height: 144px;
                    img {
                        border-radius: 6px 6px 0px 0px;
                    }
                }
                .lessonType {
                    position: relative;
                    width: 50px;
                    background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
                    border-radius: 4px;
                    font-size: 12px;
                    line-height: 12px;
                    padding: {
                        left: 6px;
                        right: 6px;
                        top: 4px;
                        bottom: 4px;
                    };
                    margin: {
                        left: 20px;
                        top: -274px;
                    };
                }
                .lessonContainer {
                    margin: 15px 15px 15px 15px;
                    height: 120px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .lessonText {
                        .title {
                            font-size: 16px;
                            line-height: 12px;
                        }
                        .description {
                            font-size: 14px;
                            line-height: 18px;
                            opacity: 0.5;
                            mix-blend-mode: normal;
                            margin-top: 10px;
                        }
                    }
                    .interaction {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-size: 13px;
                        line-height: 10px;
                        .watch {
                            background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
                            border-radius: 4px;
                            padding: {
                                left: 18px;
                                right: 18px;
                                top: 10px;
                                bottom: 10px;
                            };
                            cursor: pointer;
                            &:hover {
                                color: #6F6EFF;
                                background: #fff;
                            }
                        }
                    }
                }
                .hLine {
                    position: relative;
                    width: 255px;
                    bottom: 60px;
                }
            }
        }
    }
    
}
.dropdown {
    .programms, .lectures {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    input { 
        opacity: 0;
        width: 0;
        height: 0;
    }
    ul { 
        display: none;
    }
    :checked ~ label i {
        transform: rotate(180deg);
    }
    :checked ~ ul {
        display: inline-block;
    }
}

@media screen and (max-width: 1100px) {
    .topbar > .personal > .achieves {
        display: none !important;
    }
}
@media screen and (max-width: 800px) {
    .mobileShow {
        display: block !important;
    }
    .leftbar {
        display: none;
    }
    .content {
        padding: {
            top: 90px;
            left: 15px;
            right: 15px;
        };
    }
    .logoMobile {
        display: block !important;
        border: none;
        width: 200px;
    }
    .topbar {
        padding: {
            left: 15px !important;
            right: 15px !important;
        };
        & > .achieves,
        & > .information,
        & > .personal {
            display: none !important;
        }
    }
    .hamburger-menu {
        display: block !important;
    }
    .level {
        font-size: 10px !important;
    }
}

.hamburger-menu {
    display: none;
}
#menu__toggle {
    opacity: 0;
    &:checked ~ .menu__btn > span {
        transform: rotate(45deg);
        &::before {
            top: 0;
            transform: rotate(0);
        }
        &::after {
            top: 0;
            transform: rotate(90deg);
        }
    }
    &:checked ~ .menu__box {
        visibility: visible;
        left: 0;
    }
}
.menu__btn {
    display: flex;
    align-items: center;
    position: relative;
    top: -6px;
    left: 0px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
    & > span,
    & > span::before,
    & > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
    }
    & > span::before {
        content: '';
        top: -8px;
    }
    & > span::after {
        content: '';
        top: 8px;
    }
}
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 70px;
    //left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #343646;
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
    .leftbarMenu {
        padding: 10px 15px 4px 15px;
        .dropdown {
            margin-top: -20px;
            .lecturesMenu,
            .programmsMenu {
                margin-left: -15px;
                margin-right: -15px;
                width: 100vw;
            }
        }
    }
    .mailing {
        padding: 10px 15px 4px 15px;
        margin-bottom: 100px;
    }
    .achieves p {
        margin-bottom: 5px;
        margin-top: 5px;
        white-space: nowrap;
        padding: {
            left: 5px !important;
            right: 5px !important;
            top: 5px !important;
            bottom: 5px !important;
        };
        font-size: 11px;
    }
    .information,
    .personal {
        display: flex !important;
        flex-wrap: wrap;
        margin-left: 15px;
        margin-top: 10px;
        .account p {
            margin-bottom: 5px;
        }
        .status {
            margin-right: 15px;
        }
    }
}
.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
    :hover {
        background-color: #CFD8DC;  
    }
}